@font-face {
  font-family: 'Releway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/raleway-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Releway';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/raleway-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/open-sans-700.woff2') format('woff2');
}
